.plot{
    width: 12%
}
.container-plot{
    display: flex;
    justify-content: space-around;
    align-items: end;
    // height: 50px;
}
.hour{
    height: 20px;
}
legend{
    margin-left: auto;
    margin-right: auto;
    position: relative;
bottom: 10px;

}
