.plot{
    width: 12%;
    
}
.container-plot{
    display: flex;
    justify-content: space-around;
    align-items: end;
    height: 70px;
}
.hour{
    height: 20px;
    margin-bottom: 20px;
}
legend{
    margin-left: auto;
    margin-right: auto;
    position: relative;
bottom: 20px;
text-align: center;

}
.arrow{
   margin: auto;
}

.arrow-container{
    width: 12%;
    height: 100%;
    display: flex;
}