.plot{
    width: 12%
}
.container-plot{
    display: flex;
    justify-content: space-around;
    align-items: end;
    height: 70px;
}
.hour{
    height: 20px;
}
legend{
    margin-left: auto;
    margin-right: auto;
    position: relative;
bottom: 20px;
text-align: center;

}
.arrow{
    display: flex;
    justify-content: center;
    width: 12%;
    transform: scale(2.0);
margin-top: auto;
margin-bottom: auto;
}

