.right{
    width: 50%;
    float: right;
    display: grid;
    justify-content: end;
}
h1, h2{
    margin-top: auto;
    margin-bottom: auto;
}

h1{
    font-size: 25px;
    
}
h2{
    font-size: 20px;
}