

.container{
    width: 900px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
}
.input-div{
    box-shadow: 0px 0px 4px 3px #62a5c0;
    border-radius: 20px

}

input[type=text] {
    //background-color: #8842d5;
    color: black;
    border: none;
    width: 85%;
    border: none !important;
    outline: none!important;
    font-size: 24px;
    margin-left: 10px;
  }
  
  .search-button{
      transform:scale(1.5);
      margin-bottom: 3px;
      color: #08457c;
    //   float: right;
    //   margin-top: 7px;
    //   margin-right: 20px;
  }

  .cityname{
      border: none;
      background: none;
  }

  .clean-button{
    margin-right: 20px;
    transform: scale(2.0);
    margin-bottom: 1px;
    border-right: 1px solid #62a5c0;
    
  }

  .buttondowyjebania{
      width: 50px;
      height: 50px;
      background: orange;
  }
  .left{
      width: 40%;
      float: left;
      display: flex;
    margin-left: 20px;
    }

    .icon-hour{
        margin-top: 35px;
    }